*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 32px;
    padding-bottom: 32px;
}

.register{
    margin-top: 12px;
    width: 350px;
}

.register .main_register{
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
}
.register .main_register .logo{
    margin-top: 36px;
    margin-bottom: 12px
}
.register .main_register .logo img{
    width: 174px;
    height: 50px;
}
.phone_img{
    height: 582px;
}
.forms{
    margin-top: 24px;
}
input{
    border-radius: 3px;
    font-size: 16px;
    width: 258.8px;
    height: 36px;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(235,235,235);
    margin-bottom: 6px;
    padding: 9px 0 7px 8px;
}

input[type~="text"], input[type~="password"]{
    font-size: 12px;
}
input::placeholder{
    color:#8D949E;
}
input:focus{
    border: 1px solid #8D949E;
    outline: none;
}
.btn_reg{
    margin: 8px 40px;
    margin-bottom: 18px;
}
.username_reg{
    margin-top: 24px;
    margin-bottom: 6px;
}
.passw_reg{
    margin-bottom: 6px;
}
.btn_register{
    background-color: rgba(0, 149, 246,.7);
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 258.8px;
    height: 32px;
}
.or{
    margin: 10px 40px 18px;
}
.or_write{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line{
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    height: 1px;
    background-color: rgb(219,219,219);
}
#ors{
    font-size: 13px;
    color: rgb(115,115,115);
    font-weight: 600;
    margin-left: 18px;
    margin-right: 18px;
}

.img_facebook {
    text-decoration: none;
    color: blue;
}

.facebook_get_in{
    margin: 8px 0;
}

.facebook_write{
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(0, 149, 246);
}
.in_face{
    color: #385185;
    font-weight: 600;
}
.in_face_img{
    display: block;
    margin: 0 auto;
    margin-right: 8px;
}
.forget_btn{
    color: rgb(0, 55, 107);
    margin: 12px 0;
    border: none;
    background: none;
    cursor: pointer;
}

.forget_text{
    font-size: 12px;
}

.not_register{
    margin: 0 0 10px;
    padding: 21.5px 0;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
}

.not_register span{
    font-size: 15px;
}
.no_regis{
    text-decoration: none;
    color: rgba(0, 149, 246);
    font-weight: 600;
}

.install_prog{
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.install_prog span{
    font-size: 15px;
}
.install_links{
    text-align: center;
}
.install_links a{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    opacity: 0.5;
}
a:hover{
    cursor: pointer;
}
a:link{
    text-decoration: none;
}
a:active{
    opacity: 0.5;
}
.extra:hover{
    text-decoration: underline;
}
.install_links .google_a img{
    width: 134px;
    height: 40px;
}

.install_links .microsoft_a img{
    width: 111px;
    height: 40px;
}
.second_main{
    margin: 24px 0 52px 0;
}
.container{
    margin: 0 auto;
    width: 1167px;
}
.upper{
    display: flex;
    flex-direction: row;
}
.upper div{
    margin: 0 7px 12px 7px;
}
.upper div a{
    color: rgb(115, 115, 115);
    text-decoration: none;
    font-size: 12px;
}
.lower{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 12px;
}
select{
    background-color: #fff;
    border:none;
    color: rgb(115, 115, 115);
    cursor: pointer;
    font-size: 12px;
    width: 70px;
    background-color: #fafafa;
}
.last{
    color: rgb(115, 115, 115);
    font-size: 13px;
    margin-left: 12px;
}

.preloader{
    width: 100%;
    height: 100%;
    background: #fff center center/cover no-repeat;
    position: fixed;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img{
    width: 70px;
    height: 70px;
}

.hide{
    opacity: 0;
}